
.login-form {
  position: relative;
  top: 10em;
  left: 38em;
  font-family: Montserrat;

}

.signup-form {
  position: relative;
  top: 8em;
  left: 38em;
  font-family: Montserrat;
}

.welcome-page {
  position: fixed;
  top: 62;
  left: 0;
  width: 100%;
  background-color: black;
  height: 100vh;
}

.welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-family: Montserrat;
}

.font {
  font-family: Montserrat;
}

.font-size {
  font-family: Montserrat !important;
  font-size: 12.4px !important
}

.social-link-space {
  margin: 0.3em;
}

.button-submit {
  border: 0.4px solid grey;
  height: 36px;
  width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat;
}

.button-submit:hover {
  background-color: #F0F0F0;
}

.button-submit a {
  color: grey;
}

.button-submit-1 {
  border: 0.4px solid grey;
  height: 48px;
  width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat;
}

.button-submit-1:hover {
  background-color: #F0F0F0;
}

.button-submit-1 a {
  color: grey;
}

.query-bar {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat'

}

.recommend-card {
  font-family: 'Montserrat';
  float: left;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 12px;
  margin-right: 2em;
}

.profile {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
}

.top-articles {
  position: absolute;
  top: 20em;
  right: 1em;
  left: 72em;
  color: black;
  font-family: Montserrat;
  border: 1px solid black;
}

.news-container {
  position: absolute;
  top: 5em;
  left: 0em;
  right: 0em;
  border: 1px solid black;
}

.article-card {
  left: 1em;
}

.news {
  top: 5em;
  left: 0em;
  right: 0em;
}
/*top: 5em;
left: 0em;
right: 0em;*/
