
.login-form {
  position: relative;
  top: 10em;
  left: 38em;
  font-family: Montserrat;
  opacity: 1;
}

.signup-form {
  position: relative;
  top: 8em;
  left: 38em;
  font-family: Montserrat;
}

.welcome-page {
  position: fixed;
  top: 62;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./images/background/Beach.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-family: Montserrat;
}


.font-size {
  font-family: Montserrat !important;
  font-size: 12.4px !important
}

.social-link-space {
  margin: 0.3em;
}

.button-submit {
  border: 0.4px solid grey;
  height: 36px;
  width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat;
}

.button-submit:hover {
  background-color: #F0F0F0;
}

.button-submit a {
  color: grey;
}

.button-submit-1 {
  border: 0.4px solid grey;
  height: 48px;
  width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat;
}

.button-submit-1:hover {
  background-color: #F0F0F0;
}

.button-submit-1 a {
  color: grey;
}


.button-remove {
  border: 0.4px solid whitesmoke;
  height: 48px;
  width: 160px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat;
}

.button-remove:hover {
  background-color: #F0F0F0;
}

.button-remove a {
  color: blue;
}

.article-card {
  left: 1em;
}

.news {
  top: 5em;
  left: 0em;
  right: 0em;
}


.button-1 {
  border: 0.4px solid whitesmoke;
  height: 36px;
  width: 80px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat;
}

.button-1:hover {
  background-color: grey;
}

.button-1 a {
  color: grey;
}
